package de.motine.wetterbild;

public class Custom {
  public static final String OPEN_WEATHER_KEY = "CHANGE_ME!!!!";
  public static final String OPEN_WEATHER_CITY = "Wirges,de"; // check valid city names here: http://openweathermap.org/current#name
  public static final String PHOTO_FOLDER = "Pictures"; // expanded with File(Environment.getExternalStorageDirectory(), "Pictures")
}